<div class="aboutContainer">
    <div class="aboutContainerHeaderBox">
        <h1>ABCinc</h1>
        <h2>est - 2010</h2>
    </div>
    <div class="aboutContainerTextBox">
        <p>
            ABCinc's administrative website is designed to streamline workforce management and enhance operational 
            efficiency. Employees can log their daily work hours seamlessly, ensuring accurate time tracking. The 
            platform provides full visibility of all company personnel, allowing users to view detailed information 
            about their colleagues, including roles and activity within the organization.
            <br /> <br />
            For administrators, the site offers powerful tools for managing staff and resources. They can easily 
            delegate responsibilities, assign necessary tools to employees, and modify or delete user accounts 
            when needed. This flexibility ensures that the company remains adaptable and organized. By integrating 
            time-tracking and administrative oversight into one user-friendly platform, ABCinc's website helps 
            businesses maintain productivity, improve accountability, and optimize resource allocation. The secure 
            interface and intuitive design make managing both time and employees more efficient and effortless.
        </p>
    </div>
</div>