<style>

</style>
<div class="homepageContainer">
    <h1 class="homepageHeader">{{#if user.username}} Welcome {{user.fName}} {{user.lName}} {{else}} Please log-in {{/if}}</h1>
    <div>
        <article class="homepageArticle">
            Welcome to ABCinc's official website, where cutting-edge technology meets user-friendly design. 
            As a leading player in the industry, ABCinc is dedicated to providing innovative solutions that empower 
            businesses and enhance everyday life. Our website serves as a comprehensive hub for our products and 
            services, featuring intuitive navigation and an engaging layout. 
            </br> </br> 
            Visitors can explore our diverse 
            range of tools designed for various sectors, from construction to tech, ensuring you find the right 
            solution for your needs. Our user-friendly interface allows for easy access to product details, 
            specifications, and pricing. In addition to our product offerings, our website includes a dedicated 
            support section, providing customers with resources and assistance whenever needed. At ABCinc, we 
            believe in fostering community and collaboration, which is why our site also features customer 
            testimonials and case studies, showcasing our commitment to excellence. Join us at ABCinc and 
            discover how we can transform your business today!
        </article>
    </div>
</div>